<!--<p style="color: green"><%#= notice %></p>-->

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <p>Hello Mr <%= current_user.username %></p>
        <div class="card-body"><%= render 'form', room: Room.new %></div>
      <hr>

      <%@rooms.each do |room| %>

        <%= link_to room do %>
        <div class="card mb-2">
          <div class="card-body">
            <%= room.name %>
          </div>
        </div>
        <% end %>
      <% end %>

    </div>

    <div class="col-9">
      <% if @room.present? %>
        <div class="chat_room">
          <p> <%= @room.name %> </p>

          <% @room.messages.each do |message| %>

            <div class="message">
              <div class="content <%= 'me' if message.user == current_user %>">
                <h5> <%= message.content %> </h5>
              </div>
              <div class="auther">
                <p> <%= message.user.username %> </p>
              </div>
            </div>

          <% end %>

          <div class="chat_box">
            <%= render 'messages/form', message: Message.new , room:@room %>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>

<!--<h1>Rooms</h1>-->

<!--<div id="rooms">-->
  <%# @rooms.each do |room| %> <%#= render room %>
<!--  <p><%#= link_to "Show this room", room %></p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New room", new_room_path %>
